/*---------------------------------------
Sobreescribiendo los estilos de bootstrap
---------------------------------------*/
/*---------------------------------------
            ESTILOS DE LA PAGINA
---------------------------------------*/
.hover-line {
  position: relative;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out; }

.hover-line::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 1px;
  /* Desplazamiento hacia arriba */
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.hover-line:hover {
  color: #fff; }

.hover-line:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1); }

.margin-hero {
  margin-top: 72px; }

.video-class {
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0; }

.video-container {
  position: relative; }

.nav-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; }

.circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #6c757d;
  margin-right: 10px; }

.line-120 {
  border-bottom: 3px solid #6c757d;
  width: 120%;
  margin: 8px 0; }

.line-300 {
  border-bottom: 3px solid #6c757d;
  width: 120%;
  margin: 8px 0; }

.image-about {
  border-radius: 20px;
  border: 4px solid #ccc;
  display: block;
  margin: 0 auto; }

.fondo-imagen {
  position: relative;
  width: 100%; }

.overlay-azul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 85, 125, 0.4); }

.imagen {
  width: 100%;
  min-height: 20vh; }

.iconos-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center; }

.contenedor-circulo {
  padding: 0;
  margin: 0;
  position: relative;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  margin: 10px; }

.icono-centrado {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.text-icon {
  font-size: 8px; }

.bg-study-careers {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  min-height: 80px;
  z-index: 4; }

.bg-1 {
  background-image: url("/images/IMAGE  CATEGORY ADMINISTRATION.jpg"); }

.bg-2 {
  background-image: url("/images/IMAGE  CATEGORY ACCOUNTING.jpg"); }

.bg-3 {
  background-image: url("/images/IMAGE  CATEGORY ARCHITECTURE.jpg"); }

.bg-4 {
  background-image: url("/images/IMAGE  CATEGORY MATHEMATICS.jpg"); }

.bg-5 {
  background-image: url("/images/IMAGE  CATEGORY PROGRAMMING.jpg"); }

.bg-6 {
  background-image: url("/images/IMAGE  CATEGORY BIOLOGY.jpg"); }

.card-effect {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out; }

.card-effect:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05); }

html {
  font-size: 13px; }

 /*---------------
SHOW DE LOS MEDIAS QUERIES
---------------*/
@media (min-width: 577px) {
  .margin-hero {
    margin-top: 34px; } }
@media (min-width: 768px) {
  .line-300 {
    width: 300%; }

  .contenedor-circulo {
    width: 160px;
    height: 160px; }

  .icono-centrado {
    width: 120px;
    height: 120px; }

  .study-img {
    height: 10px; }

  .card-height {
    height: 225px; } }
@media (min-width: 576px) {
  .contenedor-circulo {
    width: 60px;
    height: 60px; }

  .icono-centrado {
    width: 40px;
    height: 40px; } }

/*# sourceMappingURL=style.css.map */