/*---------------------------------------
Sobreescribiendo los estilos de bootstrap
---------------------------------------*/
.bg-primary {
  background-color: #02557D !important; }

.text-primary {
  color: #02557D !important; }

.btn-primary {
  background-color: #02557D !important;
  border-color: #001119 !important; }

.btn-primary:hover,
.btn-primary:focus {
  background-color: #01334b !important; }

.btn-primary:active {
  background-color: #001119 !important;
  border-color: black !important; }

.btn-primary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(2, 85, 125, 0.5) !important;
          box-shadow: 0 0 0 0.2rem rgba(2, 85, 125, 0.5) !important; }

/* */
.bg-secondary {
  background-color: #FFB747 !important; }

.text-secondary {
  color: #FFB747 !important; }

.btn-secondary {
  background-color: #FFB747 !important;
  border-color: #e08800 !important; }

.btn-secondary:hover,
.btn-secundario:focus {
  background-color: #ffa314 !important; }

.btn-secondary:active {
  background-color: #e08800 !important;
  border-color: #ad6900 !important; }

.btn-secundary:focus {
  -webkit-box-shadow: 0 0 0 0.2rem rgba(255, 183, 71, 0.5) !important;
          box-shadow: 0 0 0 0.2rem rgba(255, 183, 71, 0.5) !important; }

.btn-outline-secondary {
  color: #FFB747;
  border-color: #FFB747; }

.btn-outline-secondary:hover,
.btn-outline-secondary:focus {
  background-color: #FFB747 !important;
  border-color: #ffa314 !important; }

/*---------------------------------------
            ESTILOS DE LA PAGINA
---------------------------------------*/
.hover-line {
  position: relative;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out; }

.hover-line::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 1px;
  /* Desplazamiento hacia arriba */
  left: 0;
  background-color: #fff;
  visibility: hidden;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.hover-line:hover {
  color: #fff; }

.hover-line:hover::before {
  visibility: visible;
  -webkit-transform: scaleX(1);
          transform: scaleX(1); }

.margin-hero {
  margin-top: 60px; }

.video-class {
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0; }

.video-class video {
  width: 100%;
  height: 100vh; }

.hero-container {
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover; }

.form-hero {
  top: 40%;
  left: 10px;
  margin: 0;
  padding: 0; }

.video-container {
  position: relative; }

.nav-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10; }

.circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ffb747;
  margin-right: 10px; }

.text-form-hero {
  border-bottom: 8px solid #FFB749; }

.form-principal {
  top: -100px;
  right: 60px; }

.line-120 {
  border-bottom: 3px solid #ffb747;
  width: 100%;
  margin: 8px 0; }

.line {
  border-bottom: 3px solid #ffb747;
  width: 14vw;
  height: 4px;
  margin: 4px 0; }

.line-300 {
  border-bottom: 3px solid #ffb747;
  width: 120%;
  margin: 8px 0; }

.image-about {
  border-radius: 20px;
  border: 4px solid #ccc;
  display: block;
  margin: 0 auto; }

.fondo-imagen {
  position: relative;
  width: 100%; }

.imagen {
  width: 100%;
  min-height: 20vh; }

.iconos-container {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center; }

.contenedor-circulo {
  padding: 0;
  margin: 0;
  position: relative;
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 50%;
  margin: 10px; }

.icono-centrado {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 15px;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.text-icon {
  font-size: 8px; }

.bg-study-careers {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  min-height: 80px;
  z-index: 4; }

.overlay-azul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 85, 125, 0.4); }

.bg-1 {
  background-image: url("/images/IMAGE  CATEGORY ADMINISTRATION.jpg"); }

.bg-2 {
  background-image: url("/images/IMAGE  CATEGORY ACCOUNTING.jpg"); }

.bg-3 {
  background-image: url("/images/IMAGE  CATEGORY ARCHITECTURE.jpg"); }

.bg-4 {
  background-image: url("/images/IMAGE  CATEGORY MATHEMATICS.jpg"); }

.bg-5 {
  background-image: url("/images/IMAGE  CATEGORY PROGRAMMING.jpg"); }

.bg-6 {
  background-image: url("/images/IMAGE  CATEGORY BIOLOGY.jpg"); }

.bg-7 {
  background-image: url("/images/IMAGE TEAM 1.jpg"); }

.bg-8 {
  background-image: url("/images/IMAGE TEAM 2.jpg"); }

.bg-9 {
  background-image: url("/images/IMAGE TEAM 4.jpg"); }

.bg-10 {
  background-image: url("/images/IMAGE TEAM 3.jpg"); }

.card-effect {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out; }

.card-effect:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
          transform: scale(1.05); }

.custom-card {
  width: 150px;
  height: 200px; }

images-team {
  position: relative; }

.main-image {
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover; }

.rounded-image {
  position: absolute;
  top: 35px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border: 5px solid #efefef;
  border-radius: 50%; }

.rounded-div {
  position: relative;
  width: 100px;
  height: 15px;
  border-radius: 10px;
  background-color: white;
  overflow: hidden; }

.inner-div {
  position: absolute;
  font-size: 10px;
  top: 0;
  right: 0;
  width: 50px;
  height: 100%;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white; }

.container-2 {
  width: 300px;
  height: 200px;
  margin: 50px auto;
  background-color: #f0f0f0;
  overflow: hidden;
  position: relative; }

.inner-container-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%; }

.box-2 {
  width: 48%;
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 10px; }

.button-jeff {
  top: -10px;
  left: 40px;
  z-index: 4; }

html {
  font-size: 13px; }

 /*---------------
SHOW DE LOS MEDIAS QUERIES
---------------*/
@media (min-width: 577px) {
  .margin-hero {
    margin-top: 34px; } }
@media (min-width: 768px) {
  .video-class {
    -o-object-fit: cover;
       object-fit: cover;
    margin-top: -5px; }

  .line-300 {
    width: 300%; }

  .contenedor-circulo {
    width: 160px;
    height: 160px; }

  .icono-centrado {
    width: 120px;
    height: 120px; }

  .study-img {
    height: 10px; }

  .card-height {
    height: 225px; } }
@media (min-width: 576px) {
  .contenedor-circulo {
    width: 60px;
    height: 60px; }

  .icono-centrado {
    width: 40px;
    height: 40px; } }
@media (min-width: 668px) {
  .video-class {
    margin-top: -7px; } }

/*# sourceMappingURL=style.css.map */